designxsd-maven-plugin-demo/src/main/designxsd/design.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="html">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="head"/>
                <xs:element ref="body"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="head">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="meta"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="meta">
        <xs:complexType>
            <xs:attribute name="charset"/>
            <xs:attribute name="name"/>
            <xs:attribute name="content" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="body">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="_parent">
        <xs:annotation>
            <xs:documentation>
                Attributes managing component settings inside parent layout.
                Must start with ":" in design file. Sadly it's invalid XML.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute default="1" name="_expand" type="xs:double">
            <xs:annotation>
                <xs:documentation>
                    Expand ratio on parent. Use in ":expand" form
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="1" name="_align" type="xs:double">
            <xs:annotation>
                <xs:documentation>
                    ComponentAlignment on parent. Use in ":align" form
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute fixed="" name="_right" type="xs:string"/>
        <xs:attribute fixed="" name="_center" type="xs:string"/>
        <xs:attribute fixed="" name="_middle" type="xs:string"/>
        <xs:attribute fixed="" name="_bottom" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="com.vaadin.ui.Component">
        <xs:attributeGroup ref="_parent"/>
        <xs:attribute name="_id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Local id
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Unique id for component that get's transferred to terminal for testing purposes.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="caption" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Caption of the component.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Component's description.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="enabled" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Enables or disables the component.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="visible" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Visibility of the component.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="readonly" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Read-only mode of the component.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="style-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    One or more user-defined style names of the component.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="primary-style-name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Primary style name of the component.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="locale" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="com.vaadin.server.Sizeable">
        <xs:attribute name="width" type="xs:string"/>
        <xs:attribute name="height" type="xs:string"/>
        <xs:attribute fixed="" name="size-full" type="xs:string"/>
        <xs:attribute fixed="" name="height-full" type="xs:string"/>
        <xs:attribute fixed="" name="width-full" type="xs:string"/>
        <xs:attribute fixed="" name="size-auto" type="xs:string"/>
        <xs:attribute fixed="" name="height-auto" type="xs:string"/>
        <xs:attribute fixed="" name="width-auto" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="com.vaadin.ui.AbstractComponent">
        <xs:attributeGroup ref="com.vaadin.server.Sizeable"/>
        <xs:attributeGroup ref="com.vaadin.ui.Component"/>
        <xs:attribute name="immediate" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    The component's immediate mode.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="error" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="com.vaadin.ui.Layout..SpacingHandler">
        <xs:attribute name="spacing" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    Spacing between child components within this layout.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="com.vaadin.ui.Layout..MarginHandler">
        <xs:attribute name="margin" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Margin for this layout.
                    Use a single 'true', or 'false' to control all sides.
                    With four boolean separated by space you can control each side in top right bottom left order.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="com.vaadin.ui.AbstractField">
        <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="buffered" type="xs:boolean"/>
        <xs:attribute name="invalid-allowed" type="xs:boolean"/>
        <xs:attribute name="invalid-committed" type="xs:boolean"/>
        <xs:attribute name="conversion-error" type="xs:string"/>
        <xs:attribute name="converted-value" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="required-error" type="xs:string"/>
        <xs:attribute name="validation-visible" type="xs:boolean"/>
        <xs:attribute name="tabindex" type="xs:integer"/>
    </xs:attributeGroup>
    <xs:group name="AllComponentsGroup">
        <xs:choice>
            <xs:element ref="vaadin-absolute-layout"/>
            <xs:element ref="vaadin-accordion"/>
            <xs:element ref="vaadin-audio"/>
            <xs:element ref="vaadin-browser-frame"/>
            <xs:element ref="vaadin-button"/>
            <xs:element ref="vaadin-calendar"/>
            <xs:element ref="vaadin-check-box"/>
            <xs:element ref="vaadin-color-picker"/>
            <xs:element ref="vaadin-color-picker-area"/>
            <xs:element ref="vaadin-combo-box"/>
            <xs:element ref="vaadin-css-layout"/>
            <xs:element ref="vaadin-custom-component"/>
            <xs:element ref="vaadin-custom-layout"/>
            <xs:element ref="vaadin-date-field"/>
            <xs:element ref="vaadin-drag-and-drop-wrapper"/>
            <xs:element ref="vaadin-embedded"/>
            <xs:element ref="vaadin-flash"/>
            <xs:element ref="vaadin-form"/>
            <xs:element ref="vaadin-form-layout"/>
            <xs:element ref="vaadin-grid"/>
            <xs:element ref="vaadin-grid-layout"/>
            <xs:element ref="vaadin-horizontal-layout"/>
            <xs:element ref="vaadin-horizontal-split-panel"/>
            <xs:element ref="vaadin-image"/>
            <xs:element ref="vaadin-inline-date-field"/>
            <xs:element ref="vaadin-label"/>
            <xs:element ref="vaadin-link"/>
            <xs:element ref="vaadin-list-select"/>
            <xs:element ref="vaadin-login-form"/>
            <xs:element ref="vaadin-menu-bar"/>
            <xs:element ref="vaadin-native-button"/>
            <xs:element ref="vaadin-native-select"/>
            <xs:element ref="vaadin-option-group"/>
            <xs:element ref="vaadin-panel"/>
            <xs:element ref="vaadin-password-field"/>
            <xs:element ref="vaadin-popup-date-field"/>
            <xs:element ref="vaadin-popup-view"/>
            <xs:element ref="vaadin-progress-bar"/>
            <xs:element ref="vaadin-progress-indicator"/>
            <xs:element ref="vaadin-rich-text-area"/>
            <xs:element ref="vaadin-select"/>
            <xs:element ref="vaadin-slider"/>
            <xs:element ref="vaadin-tab-sheet"/>
            <xs:element ref="vaadin-table"/>
            <xs:element ref="vaadin-text-area"/>
            <xs:element ref="vaadin-text-field"/>
            <xs:element ref="vaadin-tree"/>
            <xs:element ref="vaadin-tree-table"/>
            <xs:element ref="vaadin-twin-col-select"/>
            <xs:element ref="vaadin-upload"/>
            <xs:element ref="vaadin-vertical-layout"/>
            <xs:element ref="vaadin-vertical-split-panel"/>
            <xs:element ref="vaadin-video"/>
            <xs:element ref="vaadin-window"/>
            <xs:element ref="com_vaadin_ui_components_colorpicker-color-picker-grid"/>
            <xs:element ref="com_vaadin_ui_components_colorpicker-color-picker-history"/>
            <xs:element ref="com_vaadin_ui_components_colorpicker-color-picker-select"/>
            <xs:element ref="custom-democustomcomponent"/>
            <xs:element ref="custom-root-design"/>
        </xs:choice>
    </xs:group>
    <xs:element name="vaadin-absolute-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-accordion">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="tab-captions-as-html" type="xs:boolean"/>
            <xs:attribute name="tabs-visible" type="xs:boolean"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-audio">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="html-content-allowed" type="xs:boolean"/>
            <xs:attribute name="show-controls" type="xs:boolean"/>
            <xs:attribute name="muted" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="autoplay" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-browser-frame">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-button">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="disable-on-click" type="xs:boolean"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="icon-alt" type="xs:string"/>
            <xs:attribute name="plain-text" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-calendar">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="last-visible-day-of-week" type="xs:int"/>
            <xs:attribute name="first-visible-hour-of-day" type="xs:int"/>
            <xs:attribute fixed="" name="time-format" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="weekly-caption-format" type="xs:string"/>
            <xs:attribute name="first-visible-day-of-week" type="xs:int"/>
            <xs:attribute name="last-visible-hour-of-day" type="xs:int"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="event-caption-as-html" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-check-box">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="checked" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-color-picker">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="color" type="xs:string"/>
            <xs:attribute name="html-content-allowed" type="xs:boolean"/>
            <xs:attribute name="hsv-visibility" type="xs:boolean"/>
            <xs:attribute name="default-caption-enabled" type="xs:boolean"/>
            <xs:attribute fixed="" name="popup-style" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="textfield-visibility" type="xs:boolean"/>
            <xs:attribute name="history-visibility" type="xs:boolean"/>
            <xs:attribute name="rgb-visibility" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="swatches-visibility" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-color-picker-area">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="color" type="xs:string"/>
            <xs:attribute name="html-content-allowed" type="xs:boolean"/>
            <xs:attribute name="hsv-visibility" type="xs:boolean"/>
            <xs:attribute name="default-caption-enabled" type="xs:boolean"/>
            <xs:attribute fixed="" name="popup-style" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="textfield-visibility" type="xs:boolean"/>
            <xs:attribute name="history-visibility" type="xs:boolean"/>
            <xs:attribute name="rgb-visibility" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="swatches-visibility" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-combo-box">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="text-input-allowed" type="xs:boolean"/>
            <xs:attribute name="input-prompt" type="xs:string"/>
            <xs:attribute name="scroll-to-selected-item" type="xs:boolean"/>
            <xs:attribute name="popup-width" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="page-length" type="xs:int"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="filtering-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="OFF"/>
                        <xs:enumeration value="STARTSWITH"/>
                        <xs:enumeration value="CONTAINS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-css-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-custom-component">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-custom-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="template-contents" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="template-name" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-date-field">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="resolution">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SECOND"/>
                        <xs:enumeration value="MINUTE"/>
                        <xs:enumeration value="HOUR"/>
                        <xs:enumeration value="DAY"/>
                        <xs:enumeration value="MONTH"/>
                        <xs:enumeration value="YEAR"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lenient" type="xs:boolean"/>
            <xs:attribute name="show-iso-week-numbers" type="xs:boolean"/>
            <xs:attribute name="parse-error-message" type="xs:string"/>
            <xs:attribute name="date-out-of-range-message" type="xs:string"/>
            <xs:attribute name="date-format" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-drag-and-drop-wrapper">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="drag-start-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NONE"/>
                        <xs:enumeration value="COMPONENT"/>
                        <xs:enumeration value="WRAPPER"/>
                        <xs:enumeration value="HTML5"/>
                        <xs:enumeration value="COMPONENT_OTHER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-embedded">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="standby" type="xs:string"/>
            <xs:attribute name="type" type="xs:int"/>
            <xs:attribute name="class-id" type="xs:string"/>
            <xs:attribute name="mime-type" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="archive" type="xs:string"/>
            <xs:attribute name="alternate-text" type="xs:string"/>
            <xs:attribute name="codetype" type="xs:string"/>
            <xs:attribute name="codebase" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-flash">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="standby" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="archive" type="xs:string"/>
            <xs:attribute name="codetype" type="xs:string"/>
            <xs:attribute name="codebase" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-form">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="validation-visible-on-commit" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-form-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..MarginHandler"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..SpacingHandler"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="margin-left" type="xs:boolean"/>
            <xs:attribute name="margin-top" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="margin-right" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="margin-bottom" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-grid">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="editor-save-caption" type="xs:string"/>
            <xs:attribute name="editor-buffered" type="xs:boolean"/>
            <xs:attribute name="editable" type="xs:boolean"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="rows" type="xs:double"/>
            <xs:attribute name="column-reordering-allowed" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="editor-cancel-caption" type="xs:string"/>
            <xs:attribute name="frozen-columns" type="xs:int"/>
            <xs:attribute name="selection-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SINGLE"/>
                        <xs:enumeration value="MULTI"/>
                        <xs:enumeration value="NONE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-grid-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..MarginHandler"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..SpacingHandler"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="margin-left" type="xs:boolean"/>
            <xs:attribute name="margin-top" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="margin-right" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="margin-bottom" type="xs:boolean"/>
            <xs:attribute name="hide-empty-rows-and-columns" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-horizontal-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..MarginHandler"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..SpacingHandler"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="margin-left" type="xs:boolean"/>
            <xs:attribute name="margin-top" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="margin-right" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="margin-bottom" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-horizontal-split-panel">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="locked" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute fixed="" name="split-position" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="reversed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-image">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="alt" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-inline-date-field">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="resolution">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SECOND"/>
                        <xs:enumeration value="MINUTE"/>
                        <xs:enumeration value="HOUR"/>
                        <xs:enumeration value="DAY"/>
                        <xs:enumeration value="MONTH"/>
                        <xs:enumeration value="YEAR"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lenient" type="xs:boolean"/>
            <xs:attribute name="show-iso-week-numbers" type="xs:boolean"/>
            <xs:attribute name="parse-error-message" type="xs:string"/>
            <xs:attribute name="date-out-of-range-message" type="xs:string"/>
            <xs:attribute name="date-format" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-label">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute fixed="" name="plain-text" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-link">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="target-width" type="xs:int"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="target-height" type="xs:int"/>
            <xs:attribute name="target" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="target-border">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NONE"/>
                        <xs:enumeration value="MINIMAL"/>
                        <xs:enumeration value="DEFAULT"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-list-select">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="columns" type="xs:int"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="rows" type="xs:int"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-login-form">
        <xs:complexType>
            <xs:group minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="password-caption" type="xs:string"/>
            <xs:attribute name="login-button-caption" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="username-caption" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-menu-bar">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="auto-open" type="xs:boolean"/>
            <xs:attribute fixed="" name="plain-text" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-native-button">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="disable-on-click" type="xs:boolean"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="icon-alt" type="xs:string"/>
            <xs:attribute name="plain-text" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-native-select">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="columns" type="xs:int"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-option-group">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="html-content-allowed" type="xs:boolean"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-panel">
        <xs:complexType>
            <xs:group minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="scroll-left" type="xs:int"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="scroll-top" type="xs:int"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-password-field">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="columns" type="xs:int"/>
            <xs:attribute name="text-change-timeout" type="xs:int"/>
            <xs:attribute name="text-change-event-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EAGER"/>
                        <xs:enumeration value="TIMEOUT"/>
                        <xs:enumeration value="LAZY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="input-prompt" type="xs:string"/>
            <xs:attribute name="maxlength" type="xs:int"/>
            <xs:attribute name="null-representation" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="null-setting-allowed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-popup-date-field">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="text-field-enabled" type="xs:boolean"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="resolution">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="SECOND"/>
                        <xs:enumeration value="MINUTE"/>
                        <xs:enumeration value="HOUR"/>
                        <xs:enumeration value="DAY"/>
                        <xs:enumeration value="MONTH"/>
                        <xs:enumeration value="YEAR"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lenient" type="xs:boolean"/>
            <xs:attribute name="show-iso-week-numbers" type="xs:boolean"/>
            <xs:attribute name="input-prompt" type="xs:string"/>
            <xs:attribute name="date-out-of-range-message" type="xs:string"/>
            <xs:attribute name="parse-error-message" type="xs:string"/>
            <xs:attribute name="date-format" type="xs:string"/>
            <xs:attribute name="assistive-text" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-popup-view">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="hide-on-mouse-out" type="xs:boolean"/>
            <xs:attribute name="popup-visible" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-progress-bar">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="indeterminate" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-progress-indicator">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="indeterminate" type="xs:boolean"/>
            <xs:attribute name="polling-interval" type="xs:int"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-rich-text-area">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="null-representation" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="null-setting-allowed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-select">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="text-input-allowed" type="xs:boolean"/>
            <xs:attribute name="input-prompt" type="xs:string"/>
            <xs:attribute name="scroll-to-selected-item" type="xs:boolean"/>
            <xs:attribute name="popup-width" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="page-length" type="xs:int"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="filtering-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="OFF"/>
                        <xs:enumeration value="STARTSWITH"/>
                        <xs:enumeration value="CONTAINS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-slider">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="vertical" type="xs:string"/>
            <xs:attribute name="resolution" type="xs:int"/>
            <xs:attribute name="min" type="xs:double"/>
            <xs:attribute name="max" type="xs:double"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-tab-sheet">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="tab-captions-as-html" type="xs:boolean"/>
            <xs:attribute name="tabs-visible" type="xs:boolean"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-table">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="sort-container-property-id" type="xs:string"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="child-measurement-hint">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="MEASURE_ALWAYS"/>
                        <xs:enumeration value="MEASURE_IF_NEEDED"/>
                        <xs:enumeration value="MEASURE_NEVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="selectable" type="xs:boolean"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="row-header-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="HIDDEN"/>
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sort-ascending" type="xs:boolean"/>
            <xs:attribute name="page-length" type="xs:int"/>
            <xs:attribute name="collapse-menu-content">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ALL_COLUMNS"/>
                        <xs:enumeration value="COLLAPSIBLE_COLUMNS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="cache-rate" type="xs:double"/>
            <xs:attribute name="drag-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NONE"/>
                        <xs:enumeration value="ROW"/>
                        <xs:enumeration value="MULTIROW"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="column-reordering-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="column-header-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="HIDDEN"/>
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DEFAULT"/>
                        <xs:enumeration value="SIMPLE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="column-collapsing-allowed" type="xs:boolean"/>
            <xs:attribute name="editable" type="xs:boolean"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="sortable" type="xs:boolean"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-text-area">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="columns" type="xs:int"/>
            <xs:attribute name="text-change-timeout" type="xs:int"/>
            <xs:attribute name="wordwrap" type="xs:boolean"/>
            <xs:attribute name="text-change-event-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EAGER"/>
                        <xs:enumeration value="TIMEOUT"/>
                        <xs:enumeration value="LAZY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="input-prompt" type="xs:string"/>
            <xs:attribute name="maxlength" type="xs:int"/>
            <xs:attribute name="rows" type="xs:int"/>
            <xs:attribute name="null-representation" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="null-setting-allowed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-text-field">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="columns" type="xs:int"/>
            <xs:attribute name="text-change-timeout" type="xs:int"/>
            <xs:attribute name="text-change-event-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EAGER"/>
                        <xs:enumeration value="TIMEOUT"/>
                        <xs:enumeration value="LAZY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="input-prompt" type="xs:string"/>
            <xs:attribute name="maxlength" type="xs:int"/>
            <xs:attribute name="null-representation" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="null-setting-allowed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-tree">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="selectable" type="xs:boolean"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="html-content-allowed" type="xs:boolean"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="drag-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NONE"/>
                        <xs:enumeration value="NODE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="multiselect-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DEFAULT"/>
                        <xs:enumeration value="SIMPLE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-tree-table">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="animations-enabled" type="xs:boolean"/>
            <xs:attribute name="sort-container-property-id" type="xs:string"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="child-measurement-hint">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="MEASURE_ALWAYS"/>
                        <xs:enumeration value="MEASURE_IF_NEEDED"/>
                        <xs:enumeration value="MEASURE_NEVER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="selectable" type="xs:boolean"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="row-header-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="HIDDEN"/>
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sort-ascending" type="xs:boolean"/>
            <xs:attribute name="page-length" type="xs:int"/>
            <xs:attribute name="collapse-menu-content">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ALL_COLUMNS"/>
                        <xs:enumeration value="COLLAPSIBLE_COLUMNS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="cache-rate" type="xs:double"/>
            <xs:attribute name="drag-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NONE"/>
                        <xs:enumeration value="ROW"/>
                        <xs:enumeration value="MULTIROW"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="column-reordering-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="column-header-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="HIDDEN"/>
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DEFAULT"/>
                        <xs:enumeration value="SIMPLE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="column-collapsing-allowed" type="xs:boolean"/>
            <xs:attribute name="editable" type="xs:boolean"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="sortable" type="xs:boolean"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-twin-col-select">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractField"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="columns" type="xs:int"/>
            <xs:attribute name="null-selection-item-id" type="xs:string"/>
            <xs:attribute name="right-column-caption" type="xs:string"/>
            <xs:attribute name="item-caption-property-id" type="xs:string"/>
            <xs:attribute name="multi-select" type="xs:boolean"/>
            <xs:attribute name="rows" type="xs:int"/>
            <xs:attribute name="new-items-allowed" type="xs:boolean"/>
            <xs:attribute name="left-column-caption" type="xs:string"/>
            <xs:attribute name="null-selection-allowed" type="xs:boolean"/>
            <xs:attribute name="item-icon-property-id" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="item-caption-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="ID_TOSTRING"/>
                        <xs:enumeration value="ITEM"/>
                        <xs:enumeration value="INDEX"/>
                        <xs:enumeration value="EXPLICIT_DEFAULTS_ID"/>
                        <xs:enumeration value="EXPLICIT"/>
                        <xs:enumeration value="ICON_ONLY"/>
                        <xs:enumeration value="PROPERTY"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-upload">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="button-caption" type="xs:string"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-vertical-layout">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..MarginHandler"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..SpacingHandler"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="margin-left" type="xs:boolean"/>
            <xs:attribute name="margin-top" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="margin-right" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="margin-bottom" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-vertical-split-panel">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="locked" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute fixed="" name="split-position" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="reversed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-video">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="html-content-allowed" type="xs:boolean"/>
            <xs:attribute name="show-controls" type="xs:boolean"/>
            <xs:attribute name="muted" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="autoplay" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vaadin-window">
        <xs:complexType>
            <xs:group minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="resize-lazy" type="xs:boolean"/>
            <xs:attribute name="assistive-postfix" type="xs:string"/>
            <xs:attribute name="closable" type="xs:boolean"/>
            <xs:attribute name="draggable" type="xs:boolean"/>
            <xs:attribute name="modal" type="xs:boolean"/>
            <xs:attribute name="scroll-left" type="xs:int"/>
            <xs:attribute name="assistive-prefix" type="xs:string"/>
            <xs:attribute name="tab-stop-top-assistive-text" type="xs:string"/>
            <xs:attribute name="resizable" type="xs:boolean"/>
            <xs:attribute name="tabindex" type="xs:int"/>
            <xs:attribute fixed="" name="center" type="xs:string"/>
            <xs:attribute name="tab-stop-enabled" type="xs:boolean"/>
            <xs:attribute name="scroll-top" type="xs:int"/>
            <xs:attribute name="tab-stop-bottom-assistive-text" type="xs:string"/>
            <xs:attribute name="assistive-role">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ALERTDIALOG"/>
                        <xs:enumeration value="DIALOG"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute fixed="" name="position" type="xs:string"/>
            <xs:attribute name="window-mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="NORMAL"/>
                        <xs:enumeration value="MAXIMIZED"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="com_vaadin_ui_components_colorpicker-color-picker-grid">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="com_vaadin_ui_components_colorpicker-color-picker-history">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="com_vaadin_ui_components_colorpicker-color-picker-select">
        <xs:complexType>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="custom-democustomcomponent">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..MarginHandler"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..SpacingHandler"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="margin-left" type="xs:boolean"/>
            <xs:attribute name="margin-top" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="margin-right" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="margin-bottom" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="custom-root-design">
        <xs:complexType>
            <xs:group maxOccurs="unbounded" minOccurs="0" ref="AllComponentsGroup"/>
            <xs:attributeGroup ref="com.vaadin.ui.AbstractComponent"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..MarginHandler"/>
            <xs:attributeGroup ref="com.vaadin.ui.Layout..SpacingHandler"/>
            <xs:attribute name="caption-as-html" type="xs:boolean"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="margin-left" type="xs:boolean"/>
            <xs:attribute name="margin-top" type="xs:boolean"/>
            <xs:attribute fixed="" name="tabindex" type="xs:string"/>
            <xs:attribute name="margin-right" type="xs:boolean"/>
            <xs:attribute name="responsive" type="xs:boolean"/>
            <xs:attribute name="margin-bottom" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
